{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{%static 'css/ag.css' %}">
    <link rel="stylesheet" href="{%static 'css/menu.css' %}">
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton de inicio de sesión-->
                    <li><a href="{% url 'main:login-Registro' %}">Login</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                    <!--Boton para contactos-->
                    <li><a href="{% url 'main:contactos' %}">Contacto</a></li>
                </ul>
            </nav>
        <div>        
</head>
<body>
    <div class="contenedor-ag">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Agregar Categoría</h2>
            <div class="content">
                <div class="input-box">
                    <label for="name">Nombre de la Categoría:</label>
                    <input type="text" placeholder="Nombre de la Categoría..." name="name" required>
                </div>
                <div class="input-box">
                    <label for="description">Nombre de la Descripción:</label>
                    <input type="text" placeholder="Descripción de la Categoría..." name="description" required>
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Guardar Cambios</button>
                <button type="button" id="editar-categoria-button">Editar Categoría</buttontype></button>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Obtén una referencia al botón por su ID
                        var editarCategoriaButton = document.getElementById("editar-categoria-button");
                        // Agrega un evento de clic al botón
                        editarCategoriaButton.addEventListener("click", function() {
                            // Redirige al usuario a la página de creación de categoría
                            window.location.href = "{% url 'main:editar-categoria' %}";
                        });
                    });
                </script>
            </div>
        </form>
    </div>
</body>




        