{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{%static 'css/ag.css' %}">
    <link rel="stylesheet" href="{%static 'css/menu.css' %}">
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton de inicio de sesión-->
                    <li><a href="{% url 'main:login-Registro' %}">Login</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                    <!--Boton para contactos-->
                    <li><a href="{% url 'main:contactos' %}">Contacto</a></li>
                </ul>
            </nav>
        <div>        
</head>
<body>
    <div class="contenedor-ag">
        <form action="" method="post">
            <h2>Agregar Producto</h2>
            <div class="content">
                <div class="input-box">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" placeholder="Nombre del Producto..." name="name" required>
                </div>
                <div class="input-box">
                    <label for="description">Descripción</label>
                    <input type="text" placeholder="Descripción del Producto..." name="description" required>
                </div>
                <div class="input-box">
                    <label for="price">Precio</label>
                    <input type="number" step="0.01" placeholder="Precio del Producto..." name="price" required>
                </div>
                <div class="input-box">
                    <label for="image">Imagen del Producto</label>
                    <input type="file" name="image" accept="image/*" required>
                </div>
                <div class="input-box">
                    <label for="category">Categoría del Producto</label>
                    <select name="category" required>
                        <option value="prenda superior">Prenda Superior</option>
                        <option value="prenda inferior">Prenda Inferior</option>
                        <option value="zapatillas">Zapatillas</option>
                        <option value="laptops">Laptops</option>
                        <option value="celulares">Celulares</option>
                        <option value="audífonos">Audífonos</option>
                    </select>
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Guardar Producto</button>
            </div>
        </form>
    </div>
</body>


        