{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{%static 'css/ag.css' %}">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    
<body>
    <header class="heads">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
           <a href="#"  class="menu-icono"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton de inicio de sesión-->
                    <li><a href="{% url 'main:login-Registro' %}">Login</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                     <!--Boton para categoria-->
                     <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    <!--Boton para contactos-->
                    <li><a href="{% url 'main:contactos' %}">Contacto</a></li>
                </ul>
            </nav>
    </header>

    <div class="contenedor-ag">
        <form method="post" action="" enctype="multipart/form-data">
            <h2>Agregar Producto</h2>
            <div class="content">
                <div class="input-box">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" placeholder="Nombre del Producto..." name="name" required>
                </div>
                <div class="input-box">
                    <label for="description">Descripción</label>
                    <input type="text" placeholder="Descripción del Producto..." name="description" required>
                </div>
                <div class="input-box">
                    <label for="price">Precio</label>
                    <input type="number" step="0.01" placeholder="Precio del Producto..." name="price" required>
                </div>
                <div class="input-box">
                    <label for="image">Imagen del Producto</label>
                    <input type="file" class="form-control" id="image" name="image" required>
                </div>
                <div class="input-box">
                    <label for="category">Categoría del Producto</label>
                    <select name="category" required>
                        {% for category in categorias %}
                            <option value="{{ category.id }}">{{ category|capfirst }}</option>
                        {% endfor %}
                    </select>
                </div>               
                {% csrf_token %}
            </div>
            <div class="button-container">
                <button type="button" id="editar-producto-button">Editar Producto</buttontype></button>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Obtén una referencia al botón por su ID
                        var editarProductoButton = document.getElementById("editar-producto-button");
                        // Agrega un evento de clic al botón
                        editarProductoButton.addEventListener("click", function() {
                            // Redirige al usuario a la página de creación de categoría
                            window.location.href = "{% url 'main:editar-productos' %}";
                        });
                    });
                </script>
                <button type="submit">Guardar Producto</button>
                <button type="button" id="eliminar-producto-button">Eliminar Producto</buttontype></button>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        // Obtén una referencia al botón por su ID
                        var eliminarProductoButton = document.getElementById("eliminar-producto-button");
                        // Agrega un evento de clic al botón
                        eliminarProductoButton.addEventListener("click", function() {
                            // Redirige al usuario a la página de creación de categoría
                            window.location.href = "{% url 'main:eliminar-productos' %}";
                        });
                    });
                </script>
            </div>
        </form>
    </div>
</body>


        