{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Producto</title>
    <link rel="stylesheet" href="{% static 'css/stylepdetalle.css' %}">
    <link rel="stylesheet" href="{% static 'css/ag.css' %}">
</head>

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <input type="checkbox" id="menu" />
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                    <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
	</header>
	<div id="contenido-debajo-del-navbar"></div>
    </header>
	<div id="contenido-debajo-del-navbar">
    </header>
<body>
    <header>
        <h1>{{ producto.name|title }}</h1>
    </header>

    <div class="container-title">{{producto.category}}</div>

    <main>
        <div class="container-img">
            <img src="{{ producto.image.url }}" alt="{{producto.name}}" />
        </div>
        <div class="container-info-product">
            <div class="container-price">
                <span>$ {{producto.price}}</span>
                <i class="fa-solid fa-angle-right"></i>
            </div>

            <div class="container-description">
                <div class="title-description">
                    <h4>Descripción</h4>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                    <p>{{producto.description}}</p>
                </div>
            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input
                        type="number"
                        placeholder="1"
                        value="1"
                        min="1"
                        class="input-quantity"
                    />
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up" id="increment"></i>
                        <i class="fa-solid fa-chevron-down" id="decrement"></i>
                    </div>
                </div>
                <button class="btn-add-to-cart">
                    <i class="fa-solid fa-plus"></i>
                    Añadir al carrito
                </button>
            </div>
			
        </main>
		<section class="container-related-products">
            <h2>Reseña</h2>
            <div class="contenedor-ag">
                <form method="post" action="{% url 'main:producto' producto.id %}">
                    <div class="content">
                        <div class="input-box">
                            <label for="comentario">Reseña</label>
                            <input type="text" placeholder="Reseña..." name="comentario" required>
                        </div>
                            <!-- Agregar formulario para calificar el producto -->
                            <label for="calificacion">Califica el producto:</label>

                            <!-- Estrellas para calificación -->
                            <div class="rating">
                            <input type="radio" id="star5" name="calificacion" value="5" />
                            <label for="star5" title="5 stars"></label>
                            <input type="radio" id="star4" name="calificacion" value="4" />
                            <label for="star4" title="4 stars"></label>
                            <input type="radio" id="star3" name="calificacion" value="3" />
                            <label for="star3" title="3 stars"></label>
                            <input type="radio" id="star2" name="calificacion" value="2" />
                            <label for ="star2" title="2 stars"></label>
                            <input type="radio" id="star1" name="calificacion" value="1" />
                            <label for="star1" title="1 star"></label>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="button-container">
                        <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
        <footer>
			 {% for resena in reseñas %}
                <li>{{ resena.comentario }}</li>
            {% endfor %}
			
        </footer>


        <script
            src="https://kit.fontawesome.com/81581fb069.js"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'js/index.js' %}"></script>
</body>
</html>