{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Categoría</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{%static 'css/ag.css' %}">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                     <!--Boton para categoria-->
                     <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    <!--Boton para contactos-->
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %} ">cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        <div>
    </header>        
</head>
<body>
    <div class="contenedor-ag">
        <form method="post" action="" enctype="multipart/form-data">
            <h2>Editar Categoría</h2>
            <div class="content">
                <div class="input-box">
                    <label for="categoria">Selecciona la Categoría a Editar:</label>
                    <select name="categoria">
                        <option value="">Selecciona una categoría</option>
                        {% for c in categorias %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>                    
                </div>
                <div class="input-box">
                    <label for="name">Nuevo Nombre de la Categoría:</label>
                    <input type="text" placeholder="Nombre de la Categoría..." name="name" required>
                </div>
                <div class="input-box">
                    <label for="description">Nueva Descripción:</label>
                    <input type="text" placeholder="Descripción del Producto..." name="description" >
                </div>
            </div>
            {% csrf_token %}
            <div class="button-container">
                <button type="submit">Guardar Cambios</button>
            </div>  
        </form>
    </div>
</body>

