{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Categoría</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{%static 'css/ag.css' %}">
    
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                     <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %} ">cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        <div>        
</head>

</header>
<div id="contenido-debajo-del-navbar"></div>
</header>
<div id="contenido-debajo-del-navbar">
<header>

<body>
    <div class="contenedor-ag">
        <form method="post">
            {% csrf_token %}
            <h2>Eliminar Producto</h2>
            <div class="content">
                <div class="input-box">
                    <label for="producto_id">Selecciona la Producto a Eliminar:</label>
                    <select name="producto_id" required>
                        <option value="">Selecciona una producto</option>
                        {% for p in productos %}
                            <option value="{{ p.id }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>  
                </div>                  
            </div>
            <div class="button-container">
                <button type="submit">Eliminar Producto</button>
            </div>  
        </form>
        {% if mensaje_error %}
            <p>{{ mensaje_error }}</p>
        {% endif %}
    </div>
</body>