{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Biblioteca para los cambios de imagen-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"></head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <input type="checkbox" id="menu" />
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                     <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %} ">cerrar sesión</a>
                    </li>
                    <li>
                        <a href="#">@{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>

            <div>
                <ul>
                    <li class="submenu">
                        <img src="{% static 'images/car.svg' %}" id="img-carrito" alt="">
                        <div id="carrito">
                            <table id="lista-carrito">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th></th>                                                 
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <a href="#" id="vaciar-carrito" class="btn-3">Vaciar carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-content container">
            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!--Imagen 1-->
                        <div class="header-info">
                            <div class="header-txt">
                                <h1>Air Jordan 1 Zoom CMFT 2</h1>
                                <div class="prices">
                                    <p class="price-1">$150</p>
                                    <p class="price-2">$120</p>
                                </div>
                                <a href class="btn-1">Informacion</a>
                            </div>
                            <div class="header-img">
                                <img src="{% static 'images/bg02.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <!--Imagen 2-->
                    <div class="swiper-slide">
                        <div class="header-info">
                            <div class="header-txt">
                                <h1>Air Jordan 1 Mid Craft</h1>
                                <div class="prices">
                                    <p class="price-1">$135</p>
                                    <p class="price-2">$120</p>
                                </div>
                                <a href class="btn-1">Informacion</a>
                            </div>
                            <div class="header-img">
                                <img src="{% static 'images/bg01.png' %}" alt="">
                            </div>
                        </div>
                    </div>

                    <!--Imagen 3-->
                    <div class="swiper-slide">
                        <div class="header-info">
                            <div class="header-txt">
                                <h1>Nike Zoom Lebron 4</h1>
                                <div class="prices">
                                    <p class="price-1">$240</p>
                                    <p class="price-2">200</p>
                                </div>
                                <a href class="btn-1">Informacion</a>
                            </div>
                            <div class="header-img">
                                <img src="{% static 'images/bg03.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Botones para mover las imagenes-->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </header>

    <hr>
    <!--Secciones promo-->
    <section class="promos container" id="lista-1">
        <h1>Promociones</h1>
        <div class="categories">
            <!--Producto 1-->
            <div class="categorie">
                <div class="categorie-1">
                    <h3>Promo 1</h3>
                    <div class="prices">
                        <p class="price-1">$125</p>
                        <p class="Precio">$75</p>
                    </div>
                    <a href="#" class="agregar-carrito btn-3" data-id="1" >Agregar al carrito</a>
                </div>
                <div class="categorie-img">
                    <img src="{% static 'images/p1.png' %}" alt="">
                </div>
            </div>

            <!--Producto 2-->
            <div class="categorie">
                <div class="categorie-1">
                    <h3>Promo 2</h3>
                    <div class="prices">
                        <p class="price-1">$100</p>
                        <p class="Precio">$60</p>
                    </div>
                    <a href="#" class="agregar-carrito btn-3" data-id="2" >Agregar al carrito</a>
                </div>
                <div class="categorie-img">
                    <img src="{% static 'images/p2.png' %}" alt="">
                </div>
            </div>

            <!--Producto 3-->
            <div class="categorie">
                <div class="categorie-1">
                    <h3>Promo 3</h3>
                    <div class="prices">
                        <p class="price-1">$125</p>
                        <p class="Precio">$85</p>
                    </div>
                    <a href="#" class="agregar-carrito btn-3" data-id="3" >Agregar al carrito</a>
                </div>
                <div class="categorie-img">
                    <img src="{% static 'images/p3.png' %}" alt="">
                </div>
            </div>

            <!--Producto 4-->
            <div class="categorie">
                <div class="categorie-1">
                    <h3>Promo 4</h3>
                    <div class="prices">
                        <p class="price-1">$110</p>
                        <p class="Precio">$95</p>
                    </div>
                    <a href="#" class="agregar-carrito btn-3" data-id="4" >Agregar al carrito</a>
                </div>
                <div class="categorie-img">
                    <img src="{% static 'images/p4.png' %}" alt="">
                </div>

            </div>
        </div>

    </section>

    <hr>

    <!--Seccion 2: Nuevos Productos-->
    <section class="products container" id="lista-2">
        <h2>Nuevos Productos</h2>
        <div class="swiper mySwiper-2">
            <div class="swiper-wrapper">
                <!--Producto 1-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph10.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Pantalon de tela</h3>
                            <p>Realza figura</p>
                            <p class="precio" >$25</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="5">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 2-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/p14.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Abrigo azul</h3>
                            <p>Diseño a la moda vanguardista</p>
                            <p class="precio" >$30</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="6">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 3-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph9.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Pantalon para tiendas</h3>
                            <p>Recomendado por el pato lucas</p>
                            <p class="precio" >$30</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="7">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 4-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph8.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Abrigo verde</h3>
                            <p>Calidad y suavidad</p>
                            <p class="precio" >$55.50</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="8">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Si quieren agregar más productos que sea dentro de este swiper slider-->
                
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </section>

    <hr>

    <!--Seccion 3: Productos-->
    <section class="products container" id="lista-3">
        <h2>Productos</h2>
        <div class="swiper mySwiper-2">
            <div class="swiper-wrapper">
                <!--Producto 1-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph11.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Sudadera de gatitos</h3>
                            <p>Extremadamente adorable</p>
                            <p class="precio" >$35</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="9">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 2-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph13.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Pantalon Blanco</h3>
                            <p>Moldea la figura</p>
                            <p class="precio" >$20</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="10">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 3-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph12.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Camisa con estampado</h3>
                            <p>Calidad de tela</p>
                            <p class="precio" >$10</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="11">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <!--Producto 4-->
                <div class="swiper-slide">
                    <div class="product">
                        <img src="{% static 'images/ph16.png' %}" alt="">
                        <div class="product-txt">
                            <h3>Chaqueta</h3>
                            <p>Excelente calidad</p>
                            <p class="precio" >$50</p>
                            <a href="#" class="agregar-carrito btn-3" data-id="12">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>

    <!--Footer-->

    <footer class="footer container" >
        <!--Footer 1-->
        <div class="link">
            <h3>Sobre nosotros</h3>

            <ul>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Blogger de moda</a></li>
                <li><a href="#">Descuentos</a></li>
                <li><a href="#">Empleo</a></li>
            </ul>
        </div>

        <!--Footer 2-->
        <div class="link">
            <h3>Ayuda y apoyo</h3>

            <ul>
                <li><a href="#">Info. de envio</a></li>
                <li><a href="#">Devolución</a></li>
                <li><a href="#">Reembolso</a></li>
                <li><a href="#">Rastrear pedido</a></li>
            </ul>
        </div>

        <!--Footer 3-->
        <div class="link">
            <h3>Encuentranos en</h3>

            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Snapchat</a></li>
            </ul>
        </div>

        <!--Footer 4-->
        <div class="link">
            <h3>Servicio al cliente</h3>

            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Pagos</a></li>
                <li><a href="#">Puntos</a></li>
            </ul>
        </div>

        <!--Footer 5-->
        <div class="link">
            <h3>Las Divinas</h3>

            <p>
                Nadie pasa de esta esquina
                Aquí mandan las divinas
                Porque somos gasolina
                Gasolina de verdad
            </p>
        </div>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script> <!--Biblioteca-->
    <script src="{% static 'js/script.js' %}"></script>


</body>
</html>