{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header class="heads">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
           <a href="#"  class="menu-icono"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton de inicio de sesión-->
                    <li><a href="{% url 'main:login-Registro' %}">Login</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:productos' %}">Productos</a></li>
                     <!--Boton para categoria-->
                     <li><a href="{% url 'main:categorias' %}">Categoria</a></li>
                    <!--Boton para contactos-->
                    <li><a href="{% url 'main:contactos' %}">Contacto</a></li>
                </ul>
            </nav>
    </header>
      <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar en la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Regístrarse</button>
                </div>
            </div>

               <!-- Formulario de Login y registro -->
        <div class="contenedor__login-register">
          <!-- Login -->
            <form action="" class="formulario__login">
                <h2>Iniciar Sesión</h2>
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <button>Entrar</button>
             </form>

        <!-- Register -->
            <form method="post" class="formulario__register" action="{% url 'main:login-Registro' %}">
                {% csrf_token %}
                <h2>Regístrarse</h2>
                <input type="text" name="nombre" placeholder="Nombre completo" required>
                <input type="text" name="email" placeholder="Correo Electronico" required>
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="password" name="contrasena" placeholder="Contraseña" required>
                <button type="submit">Regístrarse</button>
            </form>
         </div>
    </div>

    </main>

    <script src="{% static 'JS/scripts.js' %}"></script>

</body>
</html>
