{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"> <!--Biblioteca para los cambios de imagen-->
    <link rel="stylesheet" href="{% static 'css/prueba.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">LasDivinas</a>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'main:home' %}">Inicio</a></li>
                    <!--Boton de inicio de sesión-->
                    <li><a href="{% url 'main:login-Registro' %}">Login</a></li>
                    <!--Boton para vista de productos-->
                    <li><a href="{% url 'main:categorias' %}">Categorias</a></li>
                    <!--Boton para contactos-->
                    <li><a href="{% url 'main:contactos' %}">Contacto</a></li>
                </ul>
            </nav>
        <div>
    </header> 
</head>
<body>
    {% for categoria, productos in categorias_con_productos.items %}
    <h1>{{ categoria.name }}</h1>
    <div class="container-items">
        {% for producto in productos %}
        <div class="items">
            <figure>
                <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
            </figure>
            <div class="info-product">
                <h2>{{ producto.name }}</h2>
                <p class="price">$ {{ producto.price }}</p>
                <a href="{% url 'main:producto' producto.id %}">Más información</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
        <div>
            <button type="button" class="btn btn-primary circular-btn" id="agregar-productos-button" style="font-size: 24px; position: fixed;">+</button>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                        // Obtén una referencia al botón por su ID
                    var agregarproductoButton = document.getElementById("agregar-productos-button");
                        // Agrega un evento de clic al botón
                    agregarproductoButton.addEventListener("click", function() {
                          // Redirige al usuario a la página 'crear-blog.html'
                    window.location.href = "{% url 'main:agregar-productos' %}";
                    });
                    });
            </script>
        </div>
    </div>

</body>
<style>
.circular-btn {
border-radius: 60%;
width: 60px;
height: 60px;
position: fixed;
bottom: 40px;
right: 50px;
transition: transform 0.3s;
}

.circular-btn:hover {
background-color: #7270ec;
transform: rotate(45deg);
}
</style>